.container{
    background-color: black;
    display: flex;
    height: 80vh;
    width:50vw;
    flex-wrap: wrap;
}

.menu_topo {
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: blue;
}

.menu_esquerdo {
    width: 10%;
    height: 80%;
    background-color: blue;
}

.conteudo_esquerdo {
    width: 80%;
    height: 90%;
    background-color: white;
}
